/* *{
    padding:0px;
    margin:0px;
} */
#para1{
    border-style:solid;
    border-color:black;
    border-width:5px;
    width:500px;
    height:100px;
}
#para2{
    border-style:solid;
    border-color:black;
    border-width:5px;
    width:500px;
    height:220px;
}